{% load static %}
<aside class="main-sidebar sidebar-light-primary elevation-4">
    <a href="{% url 'index' %}" class="brand-link">
        <img src="{% static 'img/layoutlogo.png' %}"
             alt="AdminLTE Logo" width="150" style="margin-top: 5px;">
        <span class="brand-text font-weight-light">
            <img src="{% static 'img/emcaliletras.png' %}" width="180" style="margin-left: -155px;">
        </span>
        <!-- Se añade la url del script para mostrar el icono de administrador. -->
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    </a>
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{% static 'img/avatar_user.png' %}" class="img-circle" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block"><i>Bienvenid@,&nbsp;{{ request.user.first_name }}</i></a>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="dropdown nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="{% url 'buyList' %}" class="nav-link">
                        <i class="fas fa-shopping-cart"></i>
                        <p>
                            Comprar servicio
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'homeA' %}" class="nav-link">
                        <i class='fas fa-user-circle' style='font-size:20px;color:rgb(11, 78, 5)'></i>
                        <p>
                            Administre su servicio
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
