{% extends 'layout.html' %}
{% load widget_tweaks %}
{% block head %}
    {% block head_form %}

    {% endblock %}
{% endblock %}
{% block content %}
    <form method="post" action="." enctype="multipart/form-data">
        <div class="card card-dark">
            <div class="card-header">
                <h3 class="card-title">
                    {% if action == 'add' %}
                        <i class="fas fa-plus"></i>
                    {% else %}
                        <i class="fas fa-edit"></i>
                    {% endif %}

                    {{ title }}
                </h3>
            </div>
            <div class="card-body">
                {% csrf_token %}
                <input type="hidden" name="action" value="{{ action }}">
                {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h5><i class="icon fas fa-ban"></i> Ha ocurrido un error al querer guardar el registro</h5>
                        <ul>
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <!-- <input type="hidden" name="user_created" value="{{ request.user.id }}" required id="id_user_created"> -->
                <!-- {{ form.user_created }} -->

                    {% if 'Backoffice' ==  request.user.groups.all.0.name or 'Administrador' ==  request.user.groups.all.0.name %}  
                        <div class="form-group">
                            <label for="email">Cambiar estado de solicitud:</label>
                            {{ form.is_actived|add_class:'form-control'|attr:'autocomplete:off'}}
                        </div> 
                    {% endif %}

                    {{ form.user_creation }}
                    
                    <div class="form-group">
                        <label for="email">Seleccione unidad:</label>
                        {{ form.unit|add_class:'form-control'|attr:'autocomplete:off'}}
                    </div>
                    <div class="form-group">
                        <label for="email">Numero de unidad:</label>
                        {{ form.no_unit|add_class:'form-control'|attr:'autocomplete:off'}}
                    </div>
                    <div class="form-group">
                        <label for="email">Plan:</label>
                        {{ form.plan|add_class:'form-control'|attr:'autocomplete:off'}}
                    </div>

                    <!------------------------- ADJUNTAR ARCHIVOS -------------------->
                    <label for="">Adjuntar archivos:</label>
                    <div class="form-group custom-file">
                        <label for="customFile" class="custom-file-label">Adjuntar C.C</label>
                        {{ form.ad_cc|add_class:'form-control custom-file-input'|attr:'autocomplete:off'}}
                    </div><br><br>
                    <div class="form-group custom-file">
                        <label for="customFile" class="custom-file-label">Adjuntar recibos publicos</label>
                        {{ form.rec_pub|add_class:'form-control custom-file-input'|attr:'autocomplete:off'}}
                    </div><br><br>
                    <div class="form-group custom-file">
                        <label for="customFile" class="custom-file-label">Adjuntar contrato firmado</label>
                        {{ form.signed_contract|add_class:'form-control custom-file-input'|attr:'autocomplete:off'}}
                    </div><br><br>
                    <!------------------------- ADJUNTAR ARCHIVOS -------------------->

                    <div class="form-group">
                        <label for="email">Observaciones:</label>
                        {{ form.observations|add_class:'form-control'|attr:'autocomplete:off'}}
                    </div>

            </div>

            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-flat">
                    <i class="fas fa-save"></i> Guardar registro
                </button>
                <a href="{{ list_url }}" class="btn btn-danger btn-flat">
                    <i class="fas fa-times"></i> Cancelar
                </a>
            </div>
        </div>
    </form>
    <script>

        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function() {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });

        var select_niche = $('select[name="niche"]');
        $(function () {

             $('.select2').select2({
                 theme: "bootstrap4",
                 // language: 'es'
             });

            $('select[name="segment"]').on('change', function () {
                var id = $(this).val();
                var options = '<option value="">--------------------</option>';
                if (id === '') {
                    select_niche.html(options);
                    return false;
                }
                $.ajax({
                    url: window.location.pathname,
                    type: 'POST',
                    data: {
                        'action': 'search_niche_id',
                        'id': id
                    },
                    dataType: 'json',
                }).done(function (data) {
                    if (!data.hasOwnProperty('error')) {
                        select_niche.html('').select2({
                            theme: "bootstrap4",
                            // language: 'es',
                            data: data
                        });
                        /*$.each(data, function (key, value) {
                            options += '<option value="' + value.id + '">' + value.name + '</option>';
                        });*/
                        return false;
                    }
                    message_error(data.error);
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus + ': ' + errorThrown);
                }).always(function (data) {
                    //select_products.html(options);
                });
            });
        });


        {% if form.errors %}
            var errors = '';
            {% for field in form %}
                {% for error in field.errors %}
                    errors += '{{ error }}\n';
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                errors += '{{ error }}\n';
            {% endfor %}
            Swal.fire({
                title: 'Error!',
                text: errors,
                icon: 'error'
            });
        {% endif %}

        $('form').on('submit', function (e) {
            e.preventDefault();
            var parameters = new FormData(this);
            submit_with_ajax(window.location.pathname, 'Notificación', '¿Estas seguro de realizar la siguiente acción?', parameters, function () {
                location.href = '{{ list_url }}';
            });
        });
    </script>
{% endblock %}