{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'lib/datatables-1.10.20/plugins/buttons-1.6.1/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/jszip-2.5.0/jszip.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/pdfmake-0.1.36/pdfmake.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/pdfmake-0.1.36/vfs_fonts.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/buttons-1.6.1/js/buttons.html5.min.js' %}"></script>

    <script src="{% static 'js/listBuy.js' %}"></script>
{% endblock %}
{% block columns %}   
    <tr>
        <th scope="col" style="width: 10%;">Opciones</th>
        <th scope="col" style="width: 5%;">No. de solicitud</th>
        <!-- <th scope="col" style="width: 5%;">user</th> -->
        <th scope="col" style="width: 10%;">Estado</th>
        <th scope="col" style="width: 15%;">Unidad</th>
        <th scope="col" style="width: 15%;">Plan</th>
        <th scope="col" style="width: 15%;">CC adjuntado</th>
        <th scope="col" style="width: 15%;">Recibos publicos</th>
        <th scope="col" style="width: 15%;">Contrato firmado</th>
        <th scope="col" style="width: 20%;">Observaciones</th>
    </tr>
{% endblock %}  
  
{% block javascript %}

{% endblock %}