<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


 <!-- Search input-->
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <legend>Form Name</legend>
        <label class="col-md-15 control-label" for="radios">Multiple Radios</label>
          <div class="col-md-15">
          <div class="radio">
            <label for="radios-0">
              <input type="radio" name="radios" id="radios-0" value="1" checked="checked">
              Option one
            </label>
            </div>
          <div class="radio">
            <label for="radios-1">
              <input type="radio" name="radios" id="radios-1" value="2">
              Option two
            </label>
            </div>
      </div>
    </div>
  </div>
</div>

 <!-- Search input-->
<div class="col">
    <div class="card">
      <div class="card-body">
        <label class="col-md-20 control-label" for="passwordinput">Password Input</label>
          <div class="col-md-20">
            <input id="passwordinput" name="passwordinput" type="password" placeholder="placeholder" class="form-control input-md">
            <span class="help-block">help</span>
      </div>
    </div>
  </div>
</div>

 <!-- Search input-->
<div class="col">
    <div class="card">
      <div class="card-body">
        <label class="col-md-20 control-label" for="searchinput">Search Input</label>
          <div class="col-md-20">
            <input id="searchinput" name="searchinput" type="search" placeholder="placeholder" class="form-control input-md">
            <p class="help-block">help</p>
      </div>
    </div>
  </div>
</div>

   <!-- Search input-->
<div class="col">
    <div class="card">
      <div class="card-body">
        <label class="col-md-20 control-label" for="searchinput">Search Input</label>
          <div class="col-md-20">
            <input id="searchinput" name="searchinput" type="search" placeholder="placeholder" class="form-control input-md">
            <p class="help-block">help</p>
      </div>
    </div>
  </div>
</div>
</div>

    <fieldset>

   <!-- Search input-->
   <div class="col">
    <div class="card">
      <div class="card-body">
        <label class="col-md-5 control-label" for="searchinput">Search Input</label>
          <div class="col-md-5">
            <input id="searchinput" name="searchinput" type="search" placeholder="placeholder" class="form-control input-md">
            <p class="help-block">help</p>
      </div>
    </div>
  </div>
        <!-- Password input-->
        <div class="form-group">
          <label class="col-md-5 control-label" for="passwordinput">Password Input</label>
          <div class="col-md-5">
            <input id="passwordinput" name="passwordinput" type="password" placeholder="placeholder" class="form-control input-md">
            <span class="help-block">help</span>
          </div>
        </div>
        
        <!-- Search input-->
        <div class="form-group">
          <label class="col-md-5 control-label" for="searchinput">Search Input</label>
          <div class="col-md-5">
            <input id="searchinput" name="searchinput" type="search" placeholder="placeholder" class="form-control input-md">
            <p class="help-block">help</p>
          </div>
        </div>
        
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-5 control-label" for="textinput">Text Input</label>  
          <div class="col-md-5">
          <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md">
          <span class="help-block">help</span>  
          </div>
        </div>
        
        <!-- Search input-->
        <div class="form-group">
          <label class="col-md-5 control-label" for="searchinput">Search Input</label>
          <div class="col-md-5">
            <input id="searchinput" name="searchinput" type="search" placeholder="placeholder" class="form-control input-md">
            <p class="help-block">help</p>
          </div>
        </div>
        
        <!-- Search input-->
        <div class="form-group">
          <label class="col-md-5 control-label" for="searchinput">Search Input</label>
          <div class="col-md-5">
            <input id="searchinput" name="searchinput" type="search" placeholder="placeholder" class="form-control input-md">
            <p class="help-block">help</p>
          </div>
        </div>
        
        <!-- Button -->
        <div class="form-group">
          <label class="col-md-5 control-label" for="singlebutton">Single Button</label>
          <div class="col-md-5">
            <button id="singlebutton" name="singlebutton" class="btn btn-primary">Button</button>
          </div>
        </div>
          
        </fieldset>
    </div>