{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="login-box">
        <div class="login-logo">
            <a href="{% url 'index' %}"><img src="{% static 'img/layoutset.png' %}" alt="" width="320"></a>
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Confirmar email</p>
                <form action=".." method="post">
                    <input type="hidden" name="next" value="{{ next }}">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        {{ form.username }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-dark btn-block">
                                <i class="fas fa-envelope"></i> Enviar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <script type="application/javascript">

            $('form').on('submit', function (e) {
            e.preventDefault();
            var parameters = new FormData(this);
            submit_with_ajax(window.location.pathname, 'Notificación', '¿Estas seguro de realizar la siguiente accion?', parameters, function () {
                Swal.fire({
                    title: 'Registro exitoso',
                    text: 'Se ha enviado un link de confirmacion al correo',
                    icon: 'success',
                    timer: 60000,
                    onClose: () => {
                        location.href = '/';
                    }
                }).then((result) => {

                });
            });
        });
        </script>
    </div>
{% endblock %}