{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<div class="login-box">
    <div class="login-logo">
        <a href="{% url 'index' %}"><img src="{% static 'img/layoutset.png' %}" alt="" width="320"></a>
    </div>
            <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">{{ title }}</p>
                <form action="." method="post">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="{{ action }}">
                    <div class="input-group mb-3">
                       {{ form.first_name|add_class:'form-control'|attr:'autocomplete:off' }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-id-card"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        {{ form.last_name|add_class:'form-control'|attr:'autocomplete:off' }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-id-card"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        {{ form.phone|add_class:'form-control'|attr:'autocomplete:off' }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-phone"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        {{ form.username|add_class:'form-control'|attr:'autocomplete:off' }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="input-group mb-3">
                        {{ form.password|add_class:'form-control'|attr:'autocomplete:off' }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        {{ form.password2|add_class:'form-control'|attr:'autocomplete:off' }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <!-- {{ form.groups }} -->
                    <hr>
                    <div class="row">
                        <div class="col-lg-12">
                            
                            <button type="submit" class="btn btn-dark btn-block">
                                <i class="fas fa-sign-in-alt"></i>&nbsp; Registrarte
                            </button>
                        </div>
                    </div>
                    <p class="text-left mt-2" style="font-size: 13px;">
                        <a href="{% url 'login:login' %}" class="text-secondary"><i class="fas fa-reply"></i><i> Volver al login</i></a>
                    </p>
                </form>
            </div>
        </div>
        <script>
            {% if form.errors %}
                var errors = '';
                {% for field in form %}
                    {% for error in field.errors %}
                        errors += '{{ error }}\n';
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    errors += '{{ error }}\n';
                {% endfor %}
                Swal.fire({
                    title: 'Error!',
                    text: errors,
                    icon: 'error'
                });
            {% endif %}
    
            $('form').on('submit', function (e) {
            e.preventDefault();
            var parameters = new FormData(this);
            submit_with_ajax(window.location.pathname, 'Notificación', 'IMPORTANTE: Porfavor verifica que esta bien escrito tu correo electronico se te pedira nuevamente para ACTIVAR tu cuenta', parameters, function () {
                Swal.fire({
                    title: 'Una cosa mas',
                    text: 'Debes confirmar tu correo electronico y verificar tu cuenta',
                    icon: 'info',
                    timer: 60000,
                    onClose: () => {
                        location.href = "{% url 'register:activate' %}";
                    }
                }).then((result) => {

                });
            });
        });
        </script>
{% endblock %}
