{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="login-box">
        <div class="login-logo">
            <a href="{% url 'index' %}"><img src="{% static 'img/layoutset.png' %}" alt="" width="320"></a>
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Gracias por verificar tu correo electronico, solo te falta activarla presionando ¡Activar!</p>
                <form action=".." method="post">
                    <input type="hidden" name="next" value="{{ next }}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-dark btn-block">
                                <i class="fas fa-unlock-alt"></i> ¡Activar!
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <script type="application/javascript">
            $(function () {
                $('form').on('submit', function (e) {
                    e.preventDefault();
                    var parameters = new FormData(this);
                    submit_with_ajax(window.location.pathname, 'Notificación', 'Seras redirigido al homepage y debes loguearte nuevamente', parameters, function () {
                            location.href = '/';
                    });
                });
            });
        </script>
    </div>
{% endblock %}