{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Portal de Servicios</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'img/favicon.ico' %}" rel="icon">
    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/icofont/icofont.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/venobox/venobox.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/owl.carousel/assets/owl.carousel.min.css' %}assets/" rel="stylesheet">
    <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- =======================================================
    * Template Name: iPortfolio - v1.2.0
    * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<header id="header">
    <div class="d-flex flex-column">
        <div class="profile">
            <img src="{% static 'img/em.jpg' %}" alt="" class="img-fluid rounded-circle">

            {% if request.user.is_authenticated %}
                <h1>
                    <a href="{% url 'login:login' %}">
                        <span style="text-transform: capitalize;">{{ request.user.get_full_name }}</span>
                    </a>
                </h1>
            {% else %}
                <h1 class="text-light"><a href="index.html">Portal de Servicios</a></h1>
            {% endif %}
            
            <div class="social-links mt-3 text-center">
                <a href="https://twitter.com/EmcaliTelco" class="twitter" target="_blank"><i class="bx bxl-twitter"></i></a>
                <a href="https://www.facebook.com/EmcaliTelco" class="facebook" target="_blank"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.youtube.com/user/EmcaliTelco" class="youtube" target="_blank"><i class="bx bxl-youtube"></i></a>
                <!-- <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div> -->
        </div>

        <nav class="nav-menu">
            <ul>
                <li>
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'login:login' %}">
                            <i class="bx bx-user"></i> Entrar al portal
                        </a>
                    {% else %}
                        <a href="{% url 'login:login' %}">
                            <i class="bx bx-door-open"></i> Iniciar sesion
                        </a>
                    {% endif %}

                </li>
                <li class="active"><a href="#hero"><i class="bx bx-home"></i> <span>Inicio</span></a></li>
                <li><a href="#about"><i class="bx bx-world"></i> <span>Internet</span></a></li>
                <li><a href="#resume"><i class="bx bx-phone"></i> <span>Telefon&iacute;a</span></a></li>
                <li><a href="#portfolio"><i class="bx bx-tv"></i> EmcaliTV</a></li>
                <li><a href="#services"><i class="bx bx-server"></i> Cotizadores</a></li>
                <li><a href="#contact"><i class="bx bx-envelope"></i> Contacto</a></li>
            </ul>
        </nav><!-- .nav-menu -->
        <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

    </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
        <h1>EMCALI</h1>
        <p>Valoramos <span class="typed" data-typed-items="lo esencial, la transparencia, la honestidad"></span></p>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="section-title">
                <h2>INTERNET Banda ancha y ultra banda ancha</h2>
                <p>Con INTERNET, navega, accede a tus correos electrónicos, tus redes sociales, descarga videos y música, juega en línea, Modem WIFI GRATIS, soporte técnico 7x24. Tecnología FTTX.</p>
            </div>

            <div class="row">
                <div class="col-lg-4" data-aos="fade-right">
                    <img src="{% static 'img/98d0d078-0dd8-4200-b8ed-7c563391795c.jpeg' %}" width="300" alt="">
                </div>
                <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                    <h3>Banda ancha y ultra banda ancha</h3>
                    <p class="font-italic">
                        Con BANDA ANCHA Y ULTRA BANDA ANCHA, navega a gran velocidad, descarga videos y música más rápido, mira contenido audiovisual en línea en alta definición y sin interrupciones, conecta varios dispositivos sin perder velocidad, soporte técnico 7x24. Tecnología fibra óptica.
                    </p>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="icofont-rounded-right"></i> Para entrenamiento y trabajo en linea</li>
                                <li><i class="icofont-rounded-right"></i> Una de las redes mas estables y seguras de la ciudad</li>
                                <li><i class="icofont-rounded-right"></i> Velocidades desde 5 Megas hasta 300 Megas</li>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="icofont-rounded-right"></i> Conexiones simetricas desde 80 Megas (FTTH)
                                <li><i class="icofont-rounded-right"></i> Servicios complementarios como hosting y cuentas de correo</li>
                                <li><i class="icofont-rounded-right"></i> Disponibilidad</li>
                            </ul>
                        </div>
                    </div>
                    <p>
                       Conoce mas de nuestros servicios comunicandote a las lineas de atencion (602) 899 8383 o 177 (602) 5240177, o al correo electronico siemprecontigo@emcali.com.co <br><br> Tambien puedes acercarte a los centros de atencion <br> www.emcali.com.co
                    </p>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section id="facts" class="facts">
        <div class="container">

            <div class="section-title">
                <h2>EMCALI fibra optica</h2>
                <p>Disfruta desde 40 hasta 999 Megas de Emcali fibra optica y conectate con el mundo, mas estabilidad para trabajar, estudiar, jugar y compartir con tu familia y tus megas no se comparten</p>
            </div>

            <div class="row no-gutters">
                <div data-aos="fade-up">
   
                        <img src="{% static 'img/999megas.jpg' %}" alt="999megas_emcali" width="1000">

                </div>
            </div>

        </div>
    </section><!-- End Facts Section -->

    <!-- ======= Skills Section ======= -->
    <!-- <section id="skills" class="skills section-bg"> -->
        <!-- <div class="container">

            <div class="section-title">
                <h2>Skills</h2>
                <p>fsdaf</p>
            </div>

            <div class="row skills-content">

                <div class="col-lg-6" data-aos="fade-up">

                    <div class="progress">
                        <span class="skill">HTML <i class="val">100%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">CSS <i class="val">90%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">JavaScript <i class="val">75%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

                    <div class="progress">
                        <span class="skill">PHP <i class="val">80%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">WordPress/CMS <i class="val">90%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">Photoshop <i class="val">55%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>

                </div>

            </div>

        </div> -->
    <!-- </section>End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
        <div class="container">

            <div class="section-title">
                <h2>Telefon&iacute;a</h2>
                <p>BENEFICIOS ILIMITADOS Y TARIFAS ECONOMICAS para estar siempre conectados con tus seres queridos dentro y fuera del pais</p>
            </div>

            <div class="row">
                <div class="col-lg-6" data-aos="fade-up">
                    <h3 class="resume-title">Soluciones de voz</h3>
                    <div class="resume-item">
                        <img src="{% static 'img/emcali-portal/soluciones-de-voz_57 (1).png' %}" width="250" alt=""><br><br>
                        <h4>TELEFÓNIA LOCAL</h4>
                        <p><em>Emcali tiene para usted este servicio que le permite realizar y recibir llamadas de voz bajo planes básicos con minutos incluidos, planes ilimitados, bolsa de minutos y empaquetamientos especiales para todos los estratos de la ciudad de Cali.</em></p>
                        <!-- <ul>
                            <li>Portland par 127,Orlando, FL</li>
                            <li>(123) 456-7891</li>
                            <li>alice.barkley@example.com</li>
                        </ul> -->
                    </div>
                    <div class="resume-item">
                        <img src="{% static 'img/emcali-portal/imagen-larga-distancia_05 (1).png' %}" width="250" alt=""><br><br>
                        <h4>LARGA DISTANCIA</h4>
                        <p><em>Emcali tiene planes especiales de minutos a destinos nacionales e internacionales. Realiza llamadas a larga distancia nacional, suscripción a través del indicativo 0484 y larga distancia internacional con el indicativo 00484.</em></p>
                        <!-- <ul>
                            <li>Portland par 127,Orlando, FL</li>
                            <li>(123) 456-7891</li>
                            <li>alice.barkley@example.com</li>
                        </ul> -->
                    </div>
                    <div class="resume-item">
                        <img src="{% static 'img/emcali-portal/soluciones-de-voz_104.png' %}" width="250" alt=""><br><br>
                        <h4>TELEFÓNIA IP</h4>
                        <p><em>Este sistema de telefonía le permite realizar comunicaciones de voz, por medio de redes que utilizan el protocolo IP. Con ello obtendrá beneficios como la simplificación en la infraestructura de comunicaciones , es decir que podrá conectar su teléfono al router o módem de su internet.</em></p>
                        <!-- <ul>
                            <li>Portland par 127,Orlando, FL</li>
                            <li>(123) 456-7891</li>
                            <li>alice.barkley@example.com</li>
                        </ul> -->
                    </div>
                </div>
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <h3 class="resume-title">&nbsp;</h3>
                    <div class="resume-item">
                        <img src="{% static 'img/emcali-portal/iconoTelefoniaCifononiaVirtualV2.png' %}" width="250" alt=""><br><br>
                        <h4>CITOFONÍA VIRTUAL UNIDADES RESIDENCIALES</h4>
                        <p><em>Este servicio ofrece la posibilidad de tener un número telefónico único virtual, mediante el cual el usuario podrá ser localizado en cualquier sitio dentro y fuera de la ciudad.</em></p>
                        <!-- <ul>
                            <li>Portland par 127,Orlando, FL</li>
                            <li>(123) 456-7891</li>
                            <li>alice.barkley@example.com</li>
                        </ul> -->
                    </div>
                    <div class="resume-item">
                        <img src="{% static 'img/emcali-portal/iconoTelefoniaPbxV2.png' %}" width="250" alt=""><br><br>
                        <h4>TELEFONIA PBX</h4>
                        <p><em>Este servicio ofrece la posibilidad de tener un número telefónico único virtual, mediante el cual el usuario podrá ser localizado en cualquier sitio dentro y fuera de la ciudad.</em></p>
                        <!-- <ul>
                            <li>Portland par 127,Orlando, FL</li>
                            <li>(123) 456-7891</li>
                            <li>alice.barkley@example.com</li>
                        </ul> -->
                    </div>
                    <div class="resume-item">
                        <img src="{% static 'img/emcali-portal/iconoTelefoniaVirtualV2 (1).png' %}" width="250" alt=""><br><br>
                        <h4>NUMERO VIRTUAL</h4>
                        <p><em>Este servicio ofrece la posibilidad de tener un número telefónico único virtual, mediante el cual el usuario podrá ser localizado en cualquier sitio dentro y fuera de la ciudad.</em></p>
                        <!-- <ul>
                            <li>Portland par 127,Orlando, FL</li>
                            <li>(123) 456-7891</li>
                            <li>alice.barkley@example.com</li>
                        </ul> -->
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Emcali TV</h2>
                <p>Encuentra en EMCALITV PLUS un nueva forma de ver televisión disfrutando en una solo dispositivo del mejor contenido y navegación web.
                    Canales de programación con calidad de imagen y sonido 100% digital. Amplía tu concepto de entretenimiento con la televisión IP que te ofrece EMCALI y convierte tu televisor en un "televisor inteligente" sin invertir más.
                    Con un click te conectas con el mundo con tan solo navegar en el menú interactivo.</p>
            </div>

            <div class="row" data-aos="fade-up">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">Todo</li>
                        <li data-filter=".filter-app">Plata</li>
                        <li data-filter=".filter-card">Oro</li>
                        <li data-filter=".filter-web">Diamante</li>
                    </ul>
                </div>
            </div>

            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="{% static 'img/canales/nacionales.jpg' %}" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="{% static 'img/canales/nacionales.jpg' %}" data-gall="portfolioGallery"
                               class="venobox" title="Nacionales"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="{% static 'img/canales/nacionales.jpg' %}" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="{% static 'img/canales/nacionales.jpg' %}" data-gall="portfolioGallery"
                               class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="{% static 'img/canales/nacionales.jpg' %}" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="{% static 'img/canales/nacionales.jpg' %}" data-gall="portfolioGallery"
                               class="venobox" title="App 2"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="{% static 'img/canales/nacionales.jpg' %}" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="{% static 'img/canales/nacionales.jpg' %}" data-gall="portfolioGallery"
                               class="venobox" title="Card 2"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="{% static 'img/canales/nacionales.jpg' %}" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="{% static 'img/canales/nacionales.jpg' %}" data-gall="portfolioGallery"
                               class="venobox" title="Web 2"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="{% static 'img/canales/nacionales.jpg' %}" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="{% static 'img/canales/nacionales.jpg' %}" data-gall="portfolioGallery"
                               class="venobox" title="App 3"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="{% static 'img/canales/nacionales.jpg' %}" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="{% static 'img/canales/nacionales.jpg' %}" data-gall="portfolioGallery"
                               class="venobox" title="Card 1"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="{% static 'img/canales/nacionales.jpg' %}" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="{% static 'img/canales/nacionales.jpg' %}" data-gall="portfolioGallery"
                               class="venobox" title="Card 3"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="{% static 'img/canales/nacionales.jpg' %}" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="{% static 'img/canales/nacionales.jpg' %}" data-gall="portfolioGallery"
                               class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">

            <div class="section-title">
                <h2>Planes</h2>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
                    <img src="{% static 'img/cotizadore.png' %}" alt="cotizadores" width="1100">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
                    <div class="icon"><i class="icofont-computer"></i></div>
                    <h4 class="title"><a href="https://portalservicios.emcali.net.co/cotizadores/" target="_blank">Selecciona tu Plan TV</a></h4>
                    <p class="description">Aplica para Cali, Yumbo y Jamundi</p>
                    <ul class="description">
                        <li>EmcaliTV plata plus</li>
                        <li>EmcaliTV oro plus</li>
                        <li>EmcaliTV diamante plus</li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
                    <div class="icon"><i class="icofont-world"></i></div>
                    <h4 class="title"><a href="https://portalservicios.emcali.net.co/cotizadores/"  target="_blank">Cotizador Internet</a></h4>
                    <p class="description">Aplica para Cali, Yumbo y Jamundi</p>
                    <ul class="description">
                        <li>Internet</li>
                        <li>Banda ancha</li>
                        <li>Ultra banda ancha</li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
                    <div class="icon"><i class="icofont-phone"></i></div>
                    <h4 class="title"><a href="https://portalservicios.emcali.net.co/cotizadores/" target="_blank">Cotizador Telefonía</a></h4>
                    <p class="description">Aplica para Cali, Yumbo y Jamundi</p>
                    <ul class="description">
                        <li>Telefonia local ilimitada</li>
                        <li>Citofonia virtual</li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
                    <div class="icon"><i class="icofont-settings"></i></div>
                    <h4 class="title"><a href="https://portalservicios.emcali.net.co/cotizadores/" target="_blank">Planes</a></h4>
                    <p class="description">Nuestros diferentes planes</p>
                    <ul class="description">
                        <li>Dupla internet + Telefonia local ilimitada</li>
                        <li>Doble EmcaliTV plata</li>
                        <li>Doble EmcaliTV plus oro</li>
                        <li>Doble EmcaliTV plus diamante</li>
                        <li>Triple EmcaliTV plata</li>
                        <li>Triple EmcaliTV oro</li>
                        <li>Triple EmcaliTV diamante</li>
                    </ul>
                </div>
                <!-- <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                    <div class="icon"><i class="icofont-settings"></i></div>
                    <h4 class="title"><a href="">Nemo Enim</a></h4>
                    <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                        praesentium voluptatum deleniti atque</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                    <div class="icon"><i class="icofont-tasks-alt"></i></div>
                    <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
                    <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore,
                        cum soluta nobis est eligendi</p>
                </div> -->
            </div>

        </div>
    </section><!-- End Services Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title">
                <h2>Contacto</h2>
            </div>

            <div class="row" data-aos="fade-in">

                <div class="col-lg-5 d-flex align-items-stretch">
                    <div class="info">
                        <div class="address">
                            <i class="icofont-google-map"></i>
                            <h4>Ubicacion:</h4>
                            <p>Av 2N entre Calles 10 y 11 CAM Torre EMCALI</p>
                        </div>

                        <div class="email">
                            <i class="icofont-envelope"></i>
                            <h4>Línea de átencion: </h4>
                            <p>177</p>
                        </div>
                        <!-- <div class="email">
                            <i class="icofont-envelope"></i>
                            <h4>Desde una línea de movistar:</h4>
                            <p>115</p>
                        </div> -->
                        <div class="phone">
                            <i class="icofont-phone"></i>
                            <h4>Telefono:</h4>
                            <p>+57(602)899 9999</p>
                        </div>
                        <div class="phone">
                            <i class="icofont-phone"></i>
                            <h4>Líneas de Seguridad: </h4>
                            <p>(602)5240177</p>
                        </div>

                        <iframe src="https://maps.google.com/maps?q=emcali%20boulevard&t=&z=15&ie=UTF8&iwloc=&output=embed"
                                frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
                    </div>

                </div>

                <!-- <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="name">Your Name</label>
                                <input type="text" name="name" class="form-control" id="name" data-rule="minlen:4"
                                       data-msg="Please enter at least 4 chars"/>
                                <div class="validate"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="name">Your Email</label>
                                <input type="email" class="form-control" name="email" id="email" data-rule="email"
                                       data-msg="Please enter a valid email"/>
                                <div class="validate"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name">Subject</label>
                            <input type="text" class="form-control" name="subject" id="subject" data-rule="minlen:4"
                                   data-msg="Please enter at least 8 chars of subject"/>
                            <div class="validate"></div>
                        </div>
                        <div class="form-group">
                            <label for="name">Message</label>
                            <textarea class="form-control" name="message" rows="10" data-rule="required"
                                      data-msg="Please write something for us"></textarea>
                            <div class="validate"></div>
                        </div>
                        <div class="mb-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center">
                            <button type="submit">Send Message</button>
                        </div>
                    </form>
                </div> -->

            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>2022</span></strong>
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
            Diseñado por <a href="https://www.emcali.com.co/" target="_blank">Emcali E.I.C.E. E.S.P.</a>
        </div>
    </div>
</footer><!-- End  Footer -->

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

<!-- Vendor JS Files -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static '/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
<script src="{% static 'vendor/waypoints/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'vendor/counterup/counterup.min.js' %}"></script>
<script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'vendor/venobox/venobox.min.js' %}"></script>
<script src="{% static 'vendor/owl.carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'vendor/typed.js/typed.min.js' %}"></script>
<script src="{% static 'vendor/aos/aos.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'js/main.js' %}"></script>

</body>

</html>